<!-- テキスト系の広告 -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-1411576193652714"
     data-ad-slot="3979960635"
     data-ad-format="link"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>


サンプルのまま<br>

<a  routerLink="/uploads">
  ファイルuploads
</a>
<br>
<a  routerLink="/items">
  Todoサンプル
</a>
<br>
<br>

修正して遊んでいるページ<br>
<a  routerLink="/chat">
  Chatサンプル
</a>
<br>

<a  routerLink="/text-translate">
  翻訳テスト ver1
</a>
<br>

<a  routerLink="/uploads2">
  ファイルuploads ver2
</a>


